{% extends 'base.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimesWorld - Admin Dashboard</title>
</head>
<body>
    <h1>Welcome,{{user}}!! To The  Admin Page!</h1>
    <p>Manage and oversee the operations of TimesWorld. Ensure everything runs smoothly and efficiently.</p>

    <!-- Add a logout link -->
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
{% endblock%}