{% load static %}
<!--Main Wrapper-->
	<div class="wrapper">
		<!-- Header Start -->
		<header id="header">
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="logo">
								<figure>
									<a href="index.html" class="light-logo">
										<img src="{%static 'logo/foodOnlineLogo.jpeg'%}" alt="FoodOnline" width=100>
									</a>
								</figure>
							</div>
							
							
							<div class="main-location">
								<ul>
									<li class="location-has-children choose-location">
										
										
									</li>
								</ul>
								</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header End -->